


@import url("https://db.onlinewebfonts.com/c/3ddd0e3d1a076e112b27d8d9b7e20200?family=Basis+Grotesque+Pro");
:root {
  --primary-blue: #0C74B1;
  --light-blue: #CFE5F2;
  --dark-blue: #005a9e;
  --text-color: #405979;
  --light-gray: #FFF;
  --darker-blue: #062C5A;
}

.login-pf-page{
    padding-top: 0;
}
.login-pf-page-header{
    display: none;
}
.login-pf-page .card-pf{
    padding: 0;
    margin: 0;
}

.login-pf-page .login-pf-header{
    margin-top: 0;
    margin-bottom: 0;
    display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Basis Grotesque Pro';
  font-optical-sizing: auto;
  font-style: normal;
}
/* Left Panel Styles */
.left-panel {
  position: relative;
  overflow: hidden;
  background: linear-gradient(#0c74b116, #0C74B1), url('../img/blueImage.png') no-repeat center center/cover;
  background-size: cover;
}

.img-cover {
  width: 100%;
  max-height: 630px;
}

.left-content {
  
  z-index: 2;
}

.left-content .content{
  padding: 2rem 3rem;
}

.left-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.left-content p {
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.9;
}


.dots-indicator {
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: inline-block;
}

.dot.active {
  background-color: white;
  width: 25px;
  border-radius: 10px;
}

/* Right Panel Styles */
.right-panel {
  background-color: white;
  padding: 2rem;
}

.login-container {
  width: 100%;
  max-width: 500px;
  padding: 0 15px;
}
.login-header{
  color: #062c5a;

}
.login-p{
  color: #313957;
  color: red;
}

.logo {
  height: 40px;
  margin-bottom: 1rem;
}

.form-label {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--darker-blue);
  margin-bottom: 0.5rem;
}

.form-control {
  padding: 0.8rem 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  background-color: var(--light-gray);
}

.form-control:focus {
  border-color: var(--primary-blue);
  box-shadow: 0 0 0 0.25rem rgba(0, 113, 188, 0.1);
}

.password-toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--primary-blue);
}

.forgot-password {
  font-size: 0.9rem;
  color: var(--primary-blue);
  text-decoration: none;
}

.btn-login {
  padding: 0.8rem;
  background-color: var(--primary-blue);
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.3s ease;
  &:hover{
      background-color: var(--primary-blue);
      color: white;
  };
  &:disabled{
      background-color: var(--light-blue);

  };
}



.signup-link {
  color: var(--primary-blue);
  text-decoration: none;
}

/* SMALL SCREEN */
@media (max-width: 900px) {
  .left-panel {
    display: none;
  }
  
  .login-container {
    max-width: 100%;
  }
}

.custom-input {
  border-color: #e8e8e8 !important;
  background-color: #f9f7f7 !important;
  border-radius: 6px !important;
  border-width: 1px !important;
}

.custom-input:focus {
  background-color: #f9f7f7 !important;
  border-color: #e8e8e8 !important;
  box-shadow: none !important;
}
